<form class="app__form form">
    <div class="form__heading">
        <input class="form__input form__input--title" type="text" placeholder="Expense name" data-tag="titleInput">
        <input class="form__input form__input--amount" type="number" placeholder="Expense amount, USD" data-tag="amountInput">
        <select class="form__input form__input--category" data-tag="categorySelect"></select>
        <input class="form__input form__input--date" type="date" data-tag="dateInput">
        <button class="form__btn" type="submit" data-tag="formButton">Add expense</button>
    </div>
</form>